@import url(https://fonts.googleapis.com/css?family=Mitr:200,300,regular,500,600,700);

/*Body of entire webpage*/
body{
    background-color: rgb(255, 255, 255);
    font-family: Mitr, 'Arial';
    margin:  2% 10%;
    padding: 2%;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

/*Registration Page*/
.registerpage p{
    display:block;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}
#register{
    display: block;
    width: 50%;
    margin:auto;
    background-color: rgba(200, 49, 49, 0.264);
    box-shadow: 2px 2px 2px black;
    padding-bottom: 5%;
    text-align: center;
}

.input{
    display: block;
    width:auto;
    margin:auto;
}



.button{
    font-size: 15px;
    background-color: rgba(218, 32, 32, 0.434);
    margin-top: 3%;
}

/*Content*/
main p{
    border-bottom: 3px solid rgb(235, 43, 43);
    width: auto;
    height: 100px;
    padding: 2% 3%;
    
}
#login{
    text-align: right;
}
#title{
    font-size: 110%;
    text-align: left;
}
nav a{
    padding: 0 2%;
    margin: 0 2%;
    justify-content: center;
    text-decoration: none;
    color:black;  
    border-bottom: 3px solid rgb(235, 43, 43);
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    margin:5%;
    
}
.introduction p{
    width: 50%;
    height:50%;
    
    padding: 3%;
}
.introduction img{
    width: 30%;
    height: 100%;
    box-shadow: 5px 5px 2px rgb(235, 43, 43);
   
}
